@media (min-width: 768px){

    
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        
    }
    
    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    main{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 80%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr 3fr 1fr;
        grid-row-gap: 10px;
    }
    
        main > article{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        main > .twitterQuery{
            grid-column: 1/2;
            grid-row: 2/3;
            width: 95%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 65% 35%;
            grid-template-rows: 1fr;
        }

            .twitterQuery > div{
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50% 50%;
            }

            .twitterQuery > div > label{
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .twitterQuery > div > input{
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .twitterQuery > button{
                grid-column: 2/3;
                grid-row: 1/2;
            }


    
        main > .resultModal{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 95%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40% 60%;
        }

            .resultModal > div{
                display: grid;
                grid-template-columns: 30% 70%;
                grid-template-rows: 1fr;
            }
    
        main > .infoButtons{
            grid-column: 1/2;
            grid-row: 4/5;
            width: 95%;
            margin: 0px auto;
            text-align: center;
        }

    
    
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: -1;
    }
}


@media (max-width: 767px){

    
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr;
    }
    
    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    main{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 80%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 3fr 3fr 1fr;
    }
    
        main > article{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        
        main > .twitterQuery{
            grid-column: 1/2;
            grid-row: 2/3;
            width: 95%;
            margin: 0px auto;
        }
    
        main > .resultModal{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 95%;
            margin: 0px auto;
        }
    
        main > .infoButtons{
            grid-column: 1/2;
            grid-row: 4/5;
            width: 95%;
            margin: 0px auto;
        }
    
    
    footer{
        position: fixed;
        bottom: 0;
    }
}

