@media (min-width: 768px){

    
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px min-content;
        
    }
    
    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    header > div{
        width: 100%;
        height: 180px;
    }

    header > div > div:first-child{
        width: 100%;
        height: 40px;
        background-color: #9a0100;

    }
    header > div > div:nth-child(2){
        width: 100%;
        height: 140px;
        background-color: white;
    }

    header > div > div:last-child{
        width: 500px;
        position: absolute;
        top: 0px;
        left: 35%;
        padding-top: 20px;
        display: grid;
        grid-template-columns: min-content min-content;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .header_logo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #67bac0;
        margin-top: 10px;
    }

    .header_logo img{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 90%;
        margin: 20px 3px;
    }

    .header_title{
        width: 260px;
        margin-top: 26px;
    }
    
    /* header img{
        margin: 0px 20px;
    } */


    
    main{
        background-color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
    }
    
        main > section{
            background-color: white;
            margin: 16px;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        main > section:first-child > p:first-child{
            text-align: center;
            font-size: 20px;
        }

        main > section:first-child > p:last-child{
            padding: 10px 45px;
        }
        
        main > .twitterQuery{
            background-color: white;
            grid-column: 1/2;
            grid-row: 2/3;
            width: 100%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 65% 35%;
            grid-template-rows: 1fr;
        }

            .twitterQuery > div{
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50% 50%;
            }

            .twitterQuery > div > label{
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .twitterQuery > div > input{
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .twitterQuery > button{
                grid-column: 2/3;
                grid-row: 1/2;
            }


    
        main > .resultModal{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 100%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40% 60%;
        }

            .resultModal > div{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
    

    
    
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        height: 140px;
        
    }

    .infoButtons{
        width: 100%;
        margin: 0px auto;
        text-align: center;
        display: inline-block;
    }




}

@media (max-width: 767px){

    
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 120px min-content;
        
    }
    
    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    header > div{
        width: 100%;
        height: 120px;
    }

    header > div > div:first-child{
        width: 100%;
        height: 30px;
        background-color: #9a0002;

    }
    header > div > div:nth-child(2){
        width: 100%;
        height: 90px;
        background-color: white;
    }

    header > div > div:last-child{
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-top: 20px; 
    }

    header > div > div:last-child > img:first-child{
        width: 80px;
        height: 80px;
        border-radius: 50%;

    }
    header > div > div:last-child > img:last-child{
        width: 120px;
        height: 70px;
    }
    
    header img{
        margin: 0px 20px;
    }


    
    main{
        background-color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
    }
    
        main > section{
            background-color: white;
            margin: 0px;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        main > section:first-child > p:first-child{
            text-align: center;
            font-size: 20px;
        }

        main > section:first-child > p:last-child{
            padding: 10px 45px;
        }
        
        main > .twitterQuery{
            background-color: white;
            grid-column: 1/2;
            grid-row: 2/3;
            width: 100%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 65% 35%;
            grid-template-rows: 1fr;
        }

            .twitterQuery > div{
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50% 50%;
            }

            .twitterQuery > div > label{
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .twitterQuery > div > input{
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .twitterQuery > button{
                grid-column: 2/3;
                grid-row: 1/2;
            }


    
        main > .resultModal{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 100%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 40% 60%;
        }

            .resultModal > div{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }
    
        main > .infoButtons{
            grid-column: 1/2;
            grid-row: 4/5;
            width: 100%;
            margin: 0px auto;
            text-align: center;
            display: inline-block;
        }
        
        main .infoButtons > button{
            vertical-align: bottom;

        }

    
    
    footer{
        width: 100%;
        position: fixed;
        bottom: 0;
        
    }
}

