
    .page-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 180px min-content;
        
    }
    
    header{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    header > div{
        width: 100%;
        height: 180px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
    }

    header > div > div:first-child{
        width: 100%;
        height: 40px;
        background-color: #9a0100;

    }
    header > div > div:nth-child(2){
        width: 100%;
        height: 140px;
        background-color: white;
    }

    header > div > div:last-child{
        width: 500px;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 20px;
        display: grid;
        grid-template-columns: min-content min-content;
        grid-template-rows: 1fr;
        justify-content: center;
        
    }

    .header_logo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #67bac0;
        margin-top: 10px;
    }

    .header_logo img{
        grid-column: 2/3;
        grid-row: 1/2;
        width: 90%;
        margin: 20px 3px;
    }

    .header_title{
        width: 260px;
        margin-top: 26px;
    }
    
    /* header img{
        margin: 0px 20px;
    } */


    
    main{
        background-color: white;
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
        margin: auto;
    }
    
        main > section{
            background-color: white;
            margin: 16px 0px;
            grid-column: 1/2;
            grid-row: 1/2;
        }

        main > section:first-child > p:first-child{
            text-align: center;
            font-size: 30px;
            color: #32797f;
            padding: 10px;
        }

        main > section:first-child > p:last-child{
            padding: 20px;
            font-size: 18px;
            color: #32797f;
            background-color: #ccffffca;
            border-radius: 10px;
            width: 60%;
            margin: auto;
        }
        
        main > .twitterQuery{
            background-color: white;
            grid-column: 1/2;
            grid-row: 2/3;
            width: 85%;
            margin: 0px auto;
            display: grid;
            grid-template-columns: 65% 35%;
            grid-template-rows: 1fr;
        }

            .twitterQuery > div{
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 50% 50%;
            }

            .twitterQuery > div > label{
                grid-column: 1/2;
                grid-row: 1/2;
            }

            .twitterQuery > div > input{
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .twitterQuery > button{
                grid-column: 2/3;
                grid-row: 1/2;
            }


    #theResults{
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        height: 370px;
        width: 100%;
    }

    #theResults h2{
        text-align: center;
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 28px;
        color: #32797f;
        padding: 5px;
        font-weight: bold;
        
    }
    h3{
        color:#32797f;
        text-align: center;
        padding: 10px;
    }

    .resultsContainer{
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 20px 20px;
    }

    .resultsContainer > section{
        margin: auto;
    }

    .resultsContainer > section:nth-child(1){
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .resultsContainer > section:nth-child(2){
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .resultsContainer > section:nth-child(3){
        grid-column: 3/4;
        grid-row: 1/2;
    }


    .resultsContainer > section:nth-child(4){
        grid-column: 4/5;
        grid-row: 1/2;
    }

    .resultsContainer > section:nth-child(5){
        grid-column: 5/6;
        grid-row: 1/2;
    }


    .threatTitle{
        font-size: 20px;
        font-weight: bold;
    }

    .hideResult{
        visibility: hidden;
    }

    
    
    footer{
        width: 100%;
        z-index: 3;
        /* position: fixed; */
        /* bottom: 0; */
        height: 140px;
        
    }

    .infoButtons{
        width: 100%;
        /* margin: 0px auto; */
        text-align: center;
        margin-top: 16px;
        /* display: inline-block; */
    }

    .infoButtons>ul{
        display: inline-block;
        float: left;
    }
    .infoButtons .resourcesUL{
        /* display: inline-block; */
        float: right;
    }

    .infoButtons>ul>li{
        display: inline-block;
        margin-left: 40px;
        
    }

    .infoButtons ul img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }


    .devs{
        border-radius: 50%;
        border: none;
    }

    .resources{
        /* float: right; */
        margin-right: 40px;
        /* display: inline-block; */

    }

    /* popout section */

    #fade{
        position:fixed;
        width: 100%;
        top:0;
        left:0;
        height: 110vh;
        background-color: #99ccccdb;
        z-index: 10;
    }

    .popup{
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 12;
        position: fixed;
        background-color: white;
        padding: 20px;
        border: solid 5px #32797f;
        box-shadow: 0px 3px 3px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;

    }

    .popup figure img{
        border-radius: 10px;
    }

    .popup figcaption {
        color:#32797f;
        padding: 5px;
        font-size: 30px;
    }

    .popup img{
        width: 240px;    
    }

    .popup ul li{
        display:inline-block;
        margin: 5px 10px;
    }

    .popup ul li img{
        width: 80px;
        height: 80px;
        
    }

    .popup p{
        width: 300px;
        padding: 10px;
        margin: 10px 0px;
        font-size: 1.1em;
        overflow-y: scroll;
        height: 240px;
        text-align: left;
        border: solid 2px #99cccc;
        background-color:#ccffffc0;
        color: #32797f;
    }

    .popup button{
        background-color: #99cccc;
        width: 100px;
        border-radius: 10px;
        height: 30px;
        font-size: 1.5em;
        text-align: center;
        line-height: 10px;
        color: #32797f;
        font-weight: bold;
        border:#32797f;
    }

    .popup ol{
        width: 400px;
        padding: 10px;
        margin: 10px 0px;
        font-size: 1.1em;
        overflow-y: scroll;
        height: 240px;
        text-align: left;
        border: solid 2px #99cccc;
        background-color:#ccffffc0;
        color: #32797f;
        list-style-type: circle;
    }

    .popup ol li{
        text-decoration: none;
        padding: 3px 0px;
        margin-left: 20px;
    }
    .popup ol li a{
        text-decoration: none;
        color:#32797f;
    }

    .popup ol li a:visited{
        text-decoration: none;
        color:#e5bf50;
    }



button{
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
}

.popup li img:hover{
    transform: scale(1.2);
}

.hideme{
    visibility: hidden;
    height: 0px;
}


@media (max-width: 767px){

    header div div:last-child{
        width: 100%;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
        position: fixed;
    }

    main{
        
    }

    #theResults{
        height: fit-content;
    }

    .resultsContainer{
        display: flex;
        flex-wrap: wrap;
    }

    /* .infoButtons{
        display: flex;
        flex-wrap: wrap;
    } */

    .infoButtons ul{
        display: flex;
        flex-wrap: wrap;
    }

    .infoButtons .resourcesUL{
        /* display: inline-block; */
        /* float:left; */
    }

    footer{
        height: fit-content;
    }

    .popup{
        width: 70%;
    }
    .popup p{
        width: 100%;
        
    }

}

